h1{
    text-align: center;
    color: indigo;
}

h3{
    text-align: center;
    color: purple;
}

h4{
    text-align: center;
    color: mediumpurple;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.centertext{
    text-align: center;
}
